@model BlogViajes.Web.Models.ArticulosListModel
@{
    ViewBag.Title = "Viajero X Definición: Busqueda";
    ViewBag.description = "Lee sobre las mejores estrategias para armar tus viajes por el mundo ";
    ViewBag.Keywords = "Viajes, Viajar, Viajando, Ciudad, Mundo, Atracciones, Lugares, Ciudades, Vuelos, Pasajes, Baratos, Traslados";
    }
@section meta {
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link rel="canonical" href="@Url.Action("Search", "Servicio", new RouteValueDictionary(new { Page = Model.ActualPage , SearchCriteria = Model.ActionToGo}), Uri.UriSchemeHttps, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}
<section id="content_area">
			<div class="clearfix wrapper main_content_area">
			
				<div class="clearfix main_content floatleft">
				
					@Html.Partial("_Content", Model.ContentList)
					
					<div class="pagination">
						<nav>
							<ul>
                            <li><a href="/Servicio/1/@Model.ActionToGo"> << </a></li>
                            @for (int i = (Model.ActualPage - 3); i <= (Model.ActualPage + 3); i++)
                            {
                                if (i > 0 && i <= Model.AmtPages)
                                {
                                    <li><a href="/Servicio/Search/@i/@Model.ActionToGo"> @i </a></li>
                                }

                            }								
								<li><a href="/Servicio/Search/@Model.AmtPages/@Model.ActionToGo"> >> </a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="clearfix sidebar_container floatright">
				
					@Html.Partial("_Subscribe")
					<div class="clearfix sidebar">
						@Html.Partial("_Featured", Model.FeatureList)
						@Html.Partial("_Categories", Model.Categories)
						@Html.Partial("_Recent", Model.RecentList)
					</div>
				</div>
			</div>
		</section>
