@model List<BlogViajes.EntityModels.CommentModel>
@if (Model != null && Model.Count != 0)
{
    <ul id="replies">
        @foreach (var item in Model)
        {
            <li class="cmmnt">
               <div class="cmmnt-content" data-cmmtId="@item.Id">
                    <header> 
                    <span class="userlink">@item.PostingUser.UserName </span>
                    <span class="pubdate">respondió el  @item.DatePosted.ToString("dd MMM yyyy")</span>
                    <span class="cmmt-answerLink" id="cmmt-@item.Id"  onclick="AnswerComment('cmmt-@item.Id')">Responder</span>
                    </header>
                    <p>
                        @item.Comment</p>
                </div>
                @if (item.ChildComments != null && item.ChildComments.Count != 0)
                {
                    @Html.Partial("_CommentsReplies", item.ChildComments) 
                }
            </li>
           
        }
    </ul>
}
