@model BlogViajes.EntityModels.ContentModel
<div class="clearfix wrapper main_content_area">
    <div class="clearfix main_content floatleft">
        <div class="clearfix content">
            <div class="content_title">
                <h2>
                    @Model.Title</h2>
            </div>
            <div class="single_work_page clearfix">
                <div class="work_single_page_feature">
                    <img src=@Url.Action("GetImage", "Articulos", new { Id = Model.Id }) alt="@Model.Title"/></div>
                <div class="work_meta clearfix">
                    <p class="floatleft">
                        Posteado el: <span>@Model.DatePosted.ToString("dd MMM yyyy")</span> Posteado por:
                        <span>@Model.User.UserName</span></p>
                </div>
                <div class="single_work_page_content">
                    @Model.Content
                </div>
            </div>
            <div class="more_works">
                <h2>
                    Comentarios
                </h2>
                @if (Model.Comments != null && Model.Comments.Count != 0)
                {
                    <div id="container-comment">
                        @Html.Partial("_Comments", Model.Comments)
                    </div>
                }
            </div>
        </div>
    </div>
</div>
