@model BlogViajes.Web.Models.ArticulosVerModel
@{
    ViewBag.Title = Model.Content.Title;
    ViewBag.description = Model.Content.Resume;
    ViewBag.Keywords = "Viajes, Viajar, Viajando, Ciudad, Mundo, Atracciones, Lugares, Ciudades, Vuelos, Pasajes, Baratos, Traslados";
    }
@section meta {
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link rel="canonical" href="@Url.Action("Ver", "Articulos", new RouteValueDictionary(new { Id = Model.Content.Id}), Uri.UriSchemeHttps, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}
<input type="hidden" value="@Model.Content.Id" id ="contentId"/>
<section id="content_area">
			<div class="clearfix wrapper main_content_area">
			
				<div class="clearfix main_content floatleft">
				
					@Html.Partial("_ContentView", Model.Content)
					
					
				</div>
				<div class="clearfix sidebar_container floatright">
				
					@Html.Partial("_Subscribe")
					<div class="clearfix sidebar">
						@Html.Partial("_Featured", Model.FeatureList)
						@Html.Partial("_Categories", Model.Categories)
						@Html.Partial("_Recent", Model.RecentList)
					</div>
				</div>
			</div>
		</section>
